$mainColor: #ff8b01;
$darkColor: #000807;
$bgColor: #262628;

$font-family-1: 'Baloo 2', cursive;
$font-family-2: 'Open Sans Condensed', sans-serif;
$font-family-3: 'Montserrat', sans-serif;

$primary   : #ff8b01;
$secondary : #3e505b;
$accent    : #9C27B0;

$dark      : #000807;

$negative  : #b80c09;
$info      : #31CCEC;
$warning   : #faa916;

.radioLabel {
  color: #fff;
}


#snackbar {
  visibility: hidden;
  width: 300px;
  margin: 0 auto;
  font-weight: bold;
  border: 1px solid $mainColor;
  color: $mainColor;
  background-color: #fff;
  text-align: center;
  padding: 12px 35px;
  position: fixed;
  z-index: 1;
  top: 30px;
  border-radius: 5px;
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  &.show {
    visibility: visible !important; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 30px;
      opacity: 1;
    }
  }

  @keyframes fadein {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 30px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      top: 30px;
      opacity: 1;
    }
    to {
      top: 0;
      opacity: 0;
    }
  }

  @keyframes fadeout {
    from {
      top: 30px;
      opacity: 1;
    }
    to {
      top: 0;
      opacity: 0;
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  #snackbar {
    width: 75%;
  }
}