$mainColor: #ff8b01;
$darkColor: #000807;
$bgColor: #262628;

$font-family-1: 'Baloo 2', cursive;
$font-family-2: 'Open Sans Condensed', sans-serif;

$primary   : #ff8b01;
$secondary : #3e505b;
$accent    : #9C27B0;

$dark      : #000807;

$negative  : #b80c09;
$info      : #31CCEC;
$warning   : #faa916;